<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../sqlapp/public/stylesheets/status.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../public/stylesheets/status.css"> -->
    <title>Document</title>

</head>

<body>
    <div class="container">
        <div class="row">
            
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        SHOPEE
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <ul>
                                <% lodash.shopee.forEach(function(thing){ %>
                                    <li>
                                        <%= thing.keyword %>
                                            <%= thing.count %>
                                            <button class="btn btn-primary">get</button>
                                    </li>
                                    <% }) %>
                            </ul>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        AMAZON
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <ul>
                                <% lodash.amazon.forEach(function(thing){ %>
                                    <li>
                                        <%= thing.keyword %>
                                            <%= thing.count %>
                                            <button class="btn btn-primary">get</button>
                                    </li>
                                    <% }) %>
                            </ul>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        JD
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <ul>
                                <% lodash.jd.forEach(function(thing){ %>
                                    <li>
                                        <%= thing.keyword %>
                                            <%= thing.count %>
                                            <button class="btn btn-primary">get</button>
                                    </li>
                                    <% }) %>
                            </ul>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        FACEBOOK
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <ul>
                                <% lodash.facebook.forEach(function(thing){ %>
                                    <li>
                                        <%= thing.keyword %>
                                        <%= thing.count %>
                                        <button class="btn btn-primary">get</button>
                                    </li>
                                <% }) %>
                                
                            </ul>
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        PANTIP
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <ul>
                                <% lodash.pantip.forEach(function(thing){ %>
                                    <li>
                                        <%= thing.keyword %>
                                            <%= thing.count %>
                                            <button class="btn btn-primary">get</button>
                                    </li>
                                    <% }) %>
                            </ul>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>