<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="../public/stylesheets/style.css"> -->
</head>
<body>
  <div class = "container">
    
  <div class="card">
    <div class="card-header">
      SHOPEE
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <ul>
          <% lodash.Shopee.forEach(function(thing){ %>
            <li><%= thing.keyword %> <%= thing.count %></li>
            <ul> 
            </ul>
          <% }) %>
        </ul>
      </blockquote>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      AMAZON
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <ul>
          <% lodash.Amazon.forEach(function(thing){ %>
            <li><%= thing.keyword %> <%= thing.count %></li>
            <ul> 
            </ul>
          <% }) %>
        </ul>
      </blockquote>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      PANTIP
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <ul>
          <% lodash.Pantip.forEach(function(thing){ %>
            <li><%= thing.keyword %> <%= thing.count %></li>
            <ul> 
            </ul>
          <% }) %>
        </ul>
      </blockquote>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      JD
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <ul>
          <% lodash.Jd.forEach(function(thing){ %>
            <li><%= thing.keyword %> <%= thing.count %></li>
            <ul> 
            </ul>
          <% }) %>
        </ul>
      </blockquote>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      FACEBOOK
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <ul>
          <% lodash.Facebook.forEach(function(thing){ %>
            <li><%= thing.keyword %> <%= thing.count %></li>
            <ul> 
            </ul>
          <% }) %>
        </ul>
      </blockquote>
    </div>
  </div>



  
  </div>
</body>
</html>